APP_ENV=local
APP_HOST=0.0.0.0
APP_PORT=8000
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=meeting_service
DATABASE_USER=meeting_app
DATABASE_PASSWORD=change-me
SESSION_SECRET_KEY=replace-with-at-least-32-random-characters
SESSION_TIMEOUT_SECONDS=28800
SESSION_COOKIE_SECURE=false
POLLING_INTERVAL_SECONDS=5
IMAGE_STORAGE_PATH=./data/uploads
IMAGE_MAX_SIZE_BYTES=5242880
TRUSTED_PROXY=false
