{% extends "base.html" %}
{% block content %}
  <section>
    <div class="list-toolbar"><h2>모임 신청</h2><div class="view-toggle"><a class="{{ 'active' if group_by == 'all' else '' }}" href="{{ view_hrefs.all }}">전체</a><a class="{{ 'active' if group_by == 'neighborhood' else '' }}" href="{{ view_hrefs.neighborhood }}">동네별</a><a class="{{ 'active' if group_by == 'date' else '' }}" href="{{ view_hrefs.date }}">일시별</a></div></div>
    {% include "meetings/_filters.html" %}
    <div id="meeting-list-content" data-refresh-url="{{ meeting_refresh_href }}" data-refresh-interval="{{ polling_interval_ms }}">{% include "meetings/_groups.html" %}</div>
  </section>
{% endblock %}
{% block scripts %}<script src="{{ url_for('static', path='/js/meeting_polling.js') }}" defer></script>{% endblock %}
